<% include head %>
<% include navbar %>







<% include left %>
<div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Anasayfa</a></li>
                                   
                                </ol>
                            </div>
                            


                            <%if(path==="/"){%>
                                    <h1>Anasayfa</h1>
                            <%}%>
                            <%if(path==="/videoekle"){%>
                                <% include videoekle%>
                             <%}%>
                             <%if(path==="/genelAyar"){%>
                                <% include genelayar%>
                             <%}%>
                             <%if(path==="/profile"){%>
                                <% include profile%>
                             <%}%>     
                             <%=path%>   
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 
                
            </div> <!-- container -->

        </div> <!-- content -->
<% include footer %>