 <!-- ========== Left Sidebar Start ========== -->
 <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Navigation</li>

                    <li>
                        <a href="/profile">
                            <i class="fe-airplay"></i>
                            <span class="badge badge-info badge-pill float-right">4</span>
                            <span> Dashboards </span>
                        </a>
                      
                    </li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="fe-pocket"></i>
                            <span> PLAYER YÖNET </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="/admin/videoekle">Video</a>
                            </li>
                           
                        </ul>
                    </li>
                    <li>
                            <a href="javascript: void(0);">
                                <i class="fe-settings"></i>
                                <span> AYARLAR </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>
                                    <a href="/admin/genelAyar">Genel Ayarlar</a>
                                </li>
                               
                            </ul>
                        </li>
                    

                    

                    
                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->