<!DOCTYPE html> 
<html> 
<body> 

<button onclick="myFunction()" type="button">Get video length</button><br>
 
<video id="myVideo" width="320" height="176" autoplay>
  <source src="https://www.erbulut.com/video" type="video/mp4">
 
  Your browser does not support HTML5 video.
</video>

<script>
var vid = document.getElementById("myVideo");

    function myFunction (){
        vid.play()
    } 


</script> 



</body> 
</html>