body{ 
    font-family: 'Righteous', cursive;
    margin: 0px; padding: 0px; 
    color: #ffffff;

}

.animeSheet {

    fill:#FBB040;
  
}
.dataSvg {

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 40;
    display: none;
}
* {
    box-sizing: border-box;
}




#swarm{
    display: none;
    position: absolute;
    z-index: 5;
    top:0px;
    margin:0 auto;
    width:100%;
    height: 1080px;;
    font-size: 10px; background-color: #ff9100; 
    background-image: url("/img/bg_center.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



 #footer{
     position: absolute;
     bottom: 0px;
     height: 106px;
    width: 100%;
    background-image: url("/img/footer_bg.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
 }
hr{
    
    
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffc772;
    margin: 1em 0;
    padding: 0; 
}


 #content{
    width: 850px;
    /*background-color: antiquewhite;*/
    margin-left: auto;
    margin-right: auto; 

 }

 .contentHead{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 137px;

 }
 .contentProfilImg{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 450px;
   
 }
.contentProfilImg img {
    width: 450px;
    height: 450px;
    border-radius: 30%;
    border: solid #ffffff 5px ; 
}
.contentMesaj{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;


}
.contentMesaj h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    text-shadow: 2px 2px #000000;
    font-size: 79px;
    margin: 0px;
}

.contentBaslik{

    display: block;
    /*float: left;*/
}
.contentBaslikSol{

    display: block;
    float: left;
    width: 425px;
    
}
.contentBaslikSag{
    float: left;
    
    text-align: right;
    width: 425px;
}
.contentBaslikSag span{

        font-size: 20px

}
.contentMekandakiKisiler{
    display: block;
    float: left;
}
.contentMekandakiKisiler ul {
    list-style-type: none;
}
.contentMekandakiKisiler ul li {
    display: block;
    float: left;
    padding: 5px;
}
.contentMekandakiKisiler ul li img {
    width: 83px;
    height: 82px;
    border-radius: 50%;
    border: solid #ffffff 5px ;
}

.contentIstatistik{
    margin-left: auto;
    margin-right: auto;
    width: 501px;
}
.contentIstatistik .bosluk{
    height: 5px;
    clear: both;

}
.istatstikToplamCheckin{
    width: 260px;
    font-size: 20px;
    display: block;
    float: left; 
    text-align: right;
    padding-right: 10px    
}
.istatstikToplamMayor{
    font-size: 20px;
    display: block;
    float: left;  

    width: 230px;
}